<html>
<head>
<title>
{% block title %}{% endblock title %}
</title>
{% block scripts %}
<link rel="stylesheet" type="text/css" href="/mymedia/css/style.css" media="all"/> 
{% endblock scripts %}
</head>
</body>
{% block body %}
<div id="wrapper">
	<div id="header">
		<div id="logo">
		</div>
		<div id="search">
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Astute Song Hunter</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
	  {% block content %}{% endblock %}
		<div id="sidebar">
			<ul>
				<li>
					<h2>About Astute Song Hunter</h2>
					<p>Astute Song Hunter is a highly intelligent song search engine. The search engine is based on the concept of "Query By Humming" that is you hum for a song and we search for it on the multimedia database. Go ahead and enjoy the experience!</p>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2009 Puneeth Bhat.A.H, Santosh G. Vattam and Madhusudan.C.S. All rights reserved.</p>
	</div>
	<!-- end #footer -->
{% endblock body %}
</body>
</html>


