{% extends "returnsongs/base.html" %}

{% block title %}Add a Directory of Tags{% endblock title %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="/mymedia/css/style.css" media="all"/> 
{% endblock scripts %}
{% block body %}
<div id="wrapper">
	<div id="header">
		<div id="logo">
		</div>
		<div id="search">
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Astute Song Hunter</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="post">
			<div class="post-bgtop">
			<div class="post-bgbtm">
				<h2 class="title">Bulk Add Tags</a></h2>
				<p class="meta">Provide the path to the directory on server containing the tags to be added to database.</p>
				<div class="entry">
                    <form action="/ash/tags-added/" method="post">
                     <input type="text" name="tagdir" size="50"/>
                     <input type="submit" value="Add Directory" />
                    </form>
				</div>
			</div>
			</div>
			</div>
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>About Astute Song Hunter</h2>
					<p>(Vattam TODO) Write something about Astute Song Hunter.</p>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2009 Puneeth Bhat.A.H, Santosh G. Vattam and Madhusudan.C.S. All rights reserved.</p>
	</div>
	<!-- end #footer -->
{% endblock body %}
