{% extends "returnsongs/base.html" %}

{% block title %}Add a Directory of Tags{% endblock title %}
{% block content %}
		<div id="content">
			<div class="post">
			<div class="post-bgtop">
			<div class="post-bgbtm">
				<h2 class="title">Bulk Add Tags</a></h2>
				<p class="meta">Provide the path to the directory on server containing the tags to be added to database.</p>
				<div class="entry">
                    <form action="/ash/tags-added/" method="post">
                     <input type="text" name="tagdir" size="50"/>
                     <input type="submit" value="Add Directory" />
                    </form>
				</div>
			</div>
			</div>
			</div>
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
{% endblock content %}
